.quiz-item-bar .quiz-item-handle {
    border: 1px solid #dfdfdf;
    position: relative;
    padding: 10px 15px;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
background: #D8D8D8;
border: 1px solid #666666;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    position:relative;
}
.quiz-item-handle .item-actions {
    position: absolute;
    right: 0;
    top: 10px;
    display: block;
    width: 50px;
    height: 40px;
    margin-right: 0!important;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    text-decoration:none;
}
.quiz-item-handle .item-actions a {
    text-decoration:none;
}
.item-placeholder {
    min-height:38px;
    border:dashed 1px #dfdfdf;
}

.quiz-item-settings {
    border: 1px solid #666666;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin-top:-1px;
    display:none;
    padding:10px;
    background-color:#FFF;
}
.quiz-item-settings input.block {
    display:block;
    padding:5px;
    width:100%;
}
.quiz-item-settings .half {
    display:block;
    padding:5px;
    width:49%;
    float:left;
}
.choice-delete, .input-delete {
    text-decoration:none;
}
.input-dropdown-choice {
    background-color:#C7F6FF;
    padding:5px;
    font-size:10px;
    display:inline-block;
    width: 170px;
    position: relative;
    margin-right:15px;
    margin-bottom:15px;
}
.input-dropdown-choice input[type="text"] {
    width:100px;
    font-size:10px;
}
.input-dropdown-choice .dropdown-choices-close {
    position: absolute;
    border-radius: 100px;
    background-color: rgb(250, 101, 101);
    top: -10px;
    right: -10px;
    border: none;
    width: 20px;
    height: 20px;
    display: block;
    color: #FFF;
    font-size: 12px;
}
.dropdown-choices-add {
    float:left;
}
.input-dropdown-choice .dropdown-choices-box {
    float:left;
}
